@import "../../../scss/variables";
.invoice-table {
  th {
    border: 1px solid $table_border;
  }
  td {
    padding: 0px;
    border-top: 0px;
  }
  .inner-invoice-table {
    margin-bottom: 0px;
    th,
    td {
      padding: 4px;
    }
  }
  .sno-col {
    width: 45px;
  }
  .invoice-number-col {
    width: 110px;
  }
  .invoice-date-col {
    width: 110px;
  }
  .caregiver-name-col {
    width: 150px;
  }
  .amount-col {
    width: 110px;
  }
  .due-date-col {
    width: 110px;
  }
  .status-col {
    width: 80px;
  }
  .supported-documents-col {
    width: 200px;
  }
  .remarks-col {
  }
}
