@import "../../../assets/scss/variables";
.common-col {
  height: 100%;
  .form-card {
    @media only screen and (max-width: 991px) {
      margin-top: 12px;
      height: auto;
    }
  }
  .quality-attribute-section {
    .common-list-card {
      &:last-child {
        margin-top: 8px;
      }
      .common-list-wrap {
        margin-bottom: 0px;
        .common-list-body {
          height: 90px;
          max-height: 90px;
        }
      }
    }
  }
}
.common-offer-section {
  .common-offer-row {
    min-height: calc(100vh - 220px);
    .common-list-wrap {
      height: 100%;
      .common-list-body {
        height: calc(100% - 57px);
      }
    }
  }
}
.invoice-table {
  th {
    border: 1px solid $table_border;
  }
  td {
    padding: 0px;
    border-top: 0px;
  }
  .inner-invoice-table {
    margin-bottom: 0px;
    th,
    td {
      padding: 4px;
    }
  }
  .sno-col {
    width: 45px;
  }
  .institution-col {
    width: 100px;
  }
  .cancellation-col {
    width: 110px;
  }
  .cancell-col {
    width: 100px;
  }
  .facility-col {
    width: 80px;
  }
  .date-col {
    width: 100px;
  }
  .amount-col {
    width: 100px;
  }
  .vat-col {
    width: 100px;
  }
  .due-date-col {
    width: 100px;
  }
  .factoring-col {
    width: 100px;
  }
  .sent-col {
    width: 100px;
  }
}

.todolist-table {
  th {
    border: 1px solid $table_border;
  }
  td {
    padding: 0px;
    border-top: 0px;
  }
  .inner-tododlist-table {
    margin-bottom: 0px;
    th,
    td {
      padding: 4px;
    }
  }
  .todo-select {
    .form-control {
      border: transparent;
    }
  }
  .date-col {
    width: 75px;
  }
  .remarks-col {
    width: 563px;
  }
  .done-col {
    width: 60px;
  }
  .extreme-col {
    width: 60px;
  }
  .prio-col {
    width: 92px;
  }
  .todo-select.form-group {
    margin-bottom: 0;
  }
}

.payslip-table {
  th {
    border: 1px solid $table_border;
  }
  td {
    padding: 0px;
    border-top: 0px;
  }
  .inner-payslip-table {
    margin-bottom: 0px;
    th,
    td {
      padding: 4px;
    }
  }
  .sno-col {
    width: 50px;
  }
  .date-col {
    width: 80px;
  }

  .type-col {
    width: 130px;
  }
  .amount-col {
    width: 100px;
  }
  .paid-col {
    width: 100px;
  }
}

.save-button {
  position: absolute;
  top: -34px;
  // top: -35px;
  right: 8px;
  padding: 4px 30px;
  font-weight: 600;
  font-size: 12px;
  z-index: 10;
  @media only screen and (max-width: 767px) {
    position: fixed;
    top: 76px;
  }
}
.sticky-save-btn {
  position: fixed;
  top: 35px;
  right: 8px;
  z-index: 10;
  @media only screen and (max-width: 991px) {
    top: 70px;
  }
  @media only screen and (max-width: 767px) {
    position: fixed;
    top: 76px;
  }
  .save-button {
    position: relative;
    top: unset;
    right: unset;
  }
}
.disabled-div {
  cursor: not-allowed !important;
  opacity: 0.7;
}
