@import "../../scss/variables";
.caregiver-list {
  background: $white;
  margin-bottom: 8px;
  position: relative;
  height: calc(100vh - 125px);
  overflow-y: auto;
  overflow-x: hidden;
}
.bulk-email-form {
  background: $white;
  margin-bottom: 8px;
  position: relative;
  border: 1px solid $table_border;
}
.bulk-email-header {
  .bulk-email-label {
    font-size: $font_12;
    font-weight: 400;
    color: $black;
    text-align: left;
    display: block;
    padding: 0px;
    font-family: $font_Frutiger_Bold;
  }
  .select-box {
    width: 300px;
  }
}
.mail-table {
  .size-col {
    width: 60px;
  }
}
