@import "../../scss/variables";
.common-col {
  height: 100%;
  .quality-attribute-section {
    height: calc(100% - 277px);
    .common-list-card {
      height: 100%;
      margin-bottom: 12px;
      .common-list-wrap {
        height: calc(100% - 35px);
        margin-bottom: 0px;
        .common-list-body {
          height: 100%;
        }
      }
    }
  }
}
.common-offer-section {
  .common-offer-row {
    min-height: calc(100vh - 220px);
    .common-list-wrap {
      height: 100%;
      .common-list-body {
        height: 100%;
      }
    }
  }
}
.invoice-table {
  th {
    border: 1px solid $table_border;
  }
  td {
    padding: 0px;
    border-top: 0px;
  }
  .inner-invoice-table {
    margin-bottom: 0px;
    th,
    td {
      padding: 4px;
    }
  }
  .sno-col {
    width: 45px;
  }
  .institution-col {
    width: 100px;
  }
  .cancellation-col {
    width: 110px;
  }
  .cancell-col {
    width: 100px;
  }
  .facility-col {
    width: 80px;
  }
  .date-col {
    width: 100px;
  }
  .amount-col {
    width: 100px;
  }
  .vat-col {
    width: 100px;
  }
  .due-date-col {
    width: 100px;
  }
  .factoring-col {
    width: 100px;
  }
  .sent-col {
    width: 100px;
  }
}

.todolist-table {
  th {
    border: 1px solid $table_border;
  }
  td {
    padding: 0px;
    border-top: 0px;
  }
  .inner-tododlist-table {
    margin-bottom: 0px;
    th,
    td {
      padding: 4px;
    }
  }
  .todo-select{
    .form-control{
    border:transparent;
}
  }
 .date-col {
    width:75px;
}
.remarks-col {
    width: 563px;
}
  .done-col {
    width: 60px;
}
.extreme-col {
    width: 60px;
}
.prio-col {
    width: 92px;
}
.todo-select.form-group {
    margin-bottom: 0;
}
}

