@import "../../../assets/scss/variables";

.common-header-input {
  .form-control {
    border-radius: 0px;
    color: $light_black;
    font-size: $font_12;
    height: 25px;
    border-color: $light_gray;
    padding: 0px 8px;
    line-height: 19px;
    display: flex;
    align-items: center;
    font-family: $font_Frutiger_Regular;
    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $theme_color;
    }
  }
}

// calendar table css
.calender-section {
  position: relative;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  font-family: $font_open_sans;
  background: $white;
  height: calc(50vh - 52px);
  .appointment-table {
    th,
    td {
      padding: 4px 6px;
      vertical-align: middle;
      font-size: 12px;
      &.thead-sticky {
        vertical-align: top;
        &.zindex2 {
          z-index: 2;
        }
      }
      &.custom-appointment-col {
        width: 30px;
        min-width: 30px;

        .options-dropdown {
          position: absolute;
          top: -1px;
          right: 0px;
        }
        &.name-col {
          width: 150px;
          min-width: 150px;
        }
        &.h-col {
          width: 30px;
          min-width: 30px;
        }
        &.calender-col {
          width: 40px;
          min-width: 40px;
          .custom-appointment-calendar-date {
            text-transform: capitalize;
          }
        }
      }
    }
  }
  // .custom-appointment-calendar-body {
  //   // max-height: 190px;
  //   width: 100%;
  // }
  // .custom-appointment-col.calender-col.text-center {
  //   background: $white;
  // }

  // .custom-appointment-calendar {
  //   height: calc(50vh - 80px);
  //   .custom-appointment-calendar-head {
  //     position: sticky;
  //     top: 0;
  //     background: $white;
  //     width: 100%;
  //     font-weight: 600;
  //   }
  //   .custom-appointment-row {
  //     display: flex;
  //     font-size: $font_12;
  //     color: $black;
  //     border-left: 1px solid $table_border;
  //     &:last-child {
  //       border-bottom: 1px solid $table_border;
  //     }
  //     .custom-appointment-col {
  //       width: 30px;
  //       max-width: 30px;
  //       padding: 4px;
  //       border-right: 1px solid $table_border;
  //       border-top: 1px solid $table_border;
  //       vertical-align: middle;
  //       background: $white;

  //       &.name-col {
  //         width: 200px;
  //         max-width: 200px;
  //       }
  //       &.h-col {
  //         width: 70px;
  //         max-width: 70px;
  //       }
  //       &.calender-col {
  //         width: 40px;
  //         max-width: 40px;
  //         .custom-appointment-calendar-date {
  //           text-transform: capitalize;
  //         }
  //       }
  //     }
  //   }
  // }
}

// custom-color for matching
.appointment-color1 {
  background: #d3d3d3 !important;
}
.appointment-color2 {
  background: #ffff00 !important;
}
.appointment-color3 {
  background: #6a0dad !important;
}
.appointment-color4 {
  background: #f6cfca !important;
}
.appointment-color5 {
  background: #a1f5bd !important;
}
.appointment-color6 {
  background: #07e651 !important;
}
.custom-height {
  height: calc(100vh - 125px);
  overflow-x: hidden;
}
.icon-d {
  color: #d9901a !important;
  -webkit-text-stroke-width: 1px;
}

.custom-header-nav-item {
  padding: 4px 5px;
  font-size: $font_12;
  color: $black;
  cursor: pointer;
  line-height: normal;
  transition: all 0.3s ease;
  border: 1px solid $common_tab_border;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: FrutigerNeueLTPro-Medium;
  border-radius: 2px;
  background: $common_tab_bg;
  .custom-header-nav-icon {
    padding-right: 8px;
    vertical-align: middle;
    @media only screen and (max-width: 865px) {
      padding-right: 0px;
    }
    img {
      width: 15px;
      height: 15px;
    }
  }
  .custom-header-nav-text {
    vertical-align: middle;
    @media only screen and (max-width: 865px) {
      display: none;
    }
  }
  &:hover,
  &.active {
    color: $light_black;
    background: $common_tab_hoverbg;
  }
}

.attribute-modal {
  &.modal-xl {
    max-width: 1280px;
  }
  .modal-content {
    .modal-body {
      padding: 12px 10px 0px;
      .common-list-wrap {
        .common-list-body {
          height: calc(100vh - 235px);
          .attribute-title {
            font-weight: 600;
            font-size: $font_12;
            color: $black;
            margin: 3px 8px;
          }
          .attribute-list {
            li {
              border-bottom: 0px;
              .checkbox-custom {
                label {
                  font-family: $font_open_sans;
                }
              }
            }
          }
        }
      }
    }
  }
}
.isSelected {
  background-color: red;
}
