@import "../../../assets/scss/variables";

.common-header-input {
  .form-control {
    border-radius: 0px;
    color: $light_black;
    font-size: $font_12;
    height: 25px;
    border-color: $light_gray;
    padding: 0px 8px;
    line-height: 19px;
    display: flex;
    align-items: center;
    font-family: $font_Frutiger_Regular;
    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $theme_color;
    }
  }
}

// calendar table css
.rightclick-menu {
  position: absolute;
  bottom: -35px;
  left: 30px;
  z-index: 9;
  background: $white;
  border: 1px solid #ddd;
  max-width: 400px;
  max-height: 500px;
  overflow-y: auto;
  &.top-open {
    bottom: unset;
    top: 30px;
  }
  ul {
    li {
      .nav-link {
        position: relative;
        padding: 4px 10px 4px 35px;
        color: $dark_gray;
        font-size: $font_12;
        font-weight: 600;
        transition: all 0.3s ease;
        border: none;
        background: $white;
        cursor: pointer;
        img {
          width: 14px;
          position: absolute;
          left: 10px;
          top: 4px;
        }
        &:hover {
          background: $card_header_bg;
          color: $theme_color;
        }
      }
      &.disabled-class {
        &:hover {
          color: $black;
          background-color: $transparent;
        }
      }
      &.bordernav {
        border-bottom: 1px solid #ddd;
        margin: 5px 0px;
      }
    }
  }
}
.btn-more {
  width: 25px;
  height: 25px;
  padding: 0px;
  background: $transparent;
  border: none;
  box-shadow: none !important;
  &:hover,
  &:focus {
    color: #676b79;
    background: #f0f3f5;
  }
}
.calender-section {
  position: relative;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  font-family: $font_open_sans;
  background: $white;
  border: 1px solid $table_border;
  height: calc(50vh - 73px);

  .appointment-table {
    border: 0px;
    th,
    td {
      padding: 4px;
      vertical-align: middle;
      font-size: 12px;
      .btn-more {
        position: absolute;
        right: -5px;
        top: -5px;
      }
      &.custom-appointment-col {
        width: 30px;
        min-width: 30px;
        max-width: 30px;

        &.name-col {
          width: 150px;
          min-width: 150px;
          min-width: 150px;
        }
        &.h-col {
          width: 30px;
          min-width: 30px;
          max-width: 30px;
        }
        &.calender-col {
          width: 40px;
          min-width: 40px;
          max-width: 30px;
          .custom-appointment-calendar-date {
            text-transform: capitalize;
          }
        }
      }
    }
    th {
      &:first-child {
        left: 0px;
        position: sticky;
        background: $white;
        border-left: 0px;
      }
    }
    thead {
      th {
        &:first-child {
          z-index: 2;
          vertical-align: top;
          background: $th_bg;
        }
      }
    }
  }
}

.transform-0 {
  transform: translate(0, 0);
}
// custom-color for matching
.availability-bg {
  background: $availability_color !important;
}
.requirement-bg {
  background: $requirement_color !important;
}
.matching-bg {
  background: $matching_color !important;
}
.contract-bg {
  background: $contract_color !important;
}
.confirmation-bg {
  background: $confirmation_color !important;
}

.invoice-bg {
  background: $invoice_color !important;
}

.custom-height {
  height: calc(100vh - 165px);
  overflow-x: hidden;
}

.custom-header-nav-item {
  padding: 4px 5px;
  font-size: $font_12;
  color: $black;
  cursor: pointer;
  line-height: normal;
  transition: all 0.3s ease;
  border: 1px solid $common_tab_border;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: FrutigerNeueLTPro-Medium;
  border-radius: 2px;
  background: $common_tab_bg;
  .custom-header-nav-icon {
    padding-right: 8px;
    vertical-align: middle;
    @media only screen and (max-width: 865px) {
      padding-right: 0px;
    }
    img {
      width: 15px;
      height: 15px;
    }
  }
  .custom-header-nav-text {
    vertical-align: middle;
    @media only screen and (max-width: 865px) {
      display: none;
    }
  }
  &:hover,
  &.active {
    color: $light_black;
    background: $common_tab_hoverbg;
  }
}

.form-section {
  .form-group {
    .nightfee-input {
      width: 98px;
    }
    .nightallowance-input {
      min-width: 140px;
    }
    .form-control {
      &.fee-width {
        flex: 0 0 60px;
      }
    }
    .text-value {
      font-size: $font_12;
      font-weight: 400;
      color: $black;
      text-align: left;
      display: block;
      padding: 0px;
      font-family: "FrutigerNeueLTPro-Bold", sans-serif;
    }
  }
  .arrow-btn {
    position: absolute;
    left: -15px;
    top: 0px;
  }
  .distance-section {
    .fee-input {
      width: 113px;
    }
    .a-input {
      width: 103px;
    }
    .totalbtn-input {
      width: 33px;
    }
    .total-input {
      min-width: 70px;
      width: 70px;
    }
  }
}

.attribute-modal {
  &.modal-xl {
    max-width: 1280px;
  }
  .modal-content {
    .modal-body {
      padding: 12px 10px 0px;

      .common-list-wrap {
        .common-list-body {
          height: calc(100vh - 235px);
          .attribute-title {
            font-weight: 600;
            font-size: $font_12;
            color: $black;
            margin: 3px 8px;
          }
          .attribute-list {
            li {
              border-bottom: 0px;
              .checkbox-custom {
                label {
                  font-family: $font_open_sans;
                }
              }
            }
          }
        }
      }
    }
  }
}
body {
  .custom-row-selector {
    margin: 0;
    .selected-cell {
      background-color: $selected_color;
    }
    .cell-available {
      background-color: $available_color;
    }
    .selecting-cell {
      background-color: $selecting_color;
    }
  }
}
