// Variable overrides
$font_open_sans: "Open Sans", sans-serif;
$font_Frutiger_Light: "FrutigerNeueLTPro-Light", sans-serif;
$font_Frutiger_Regular: "FrutigerNeueLTPro-Regular", sans-serif;
$font_Frutiger_Medium: "FrutigerNeueLTPro-Medium", sans-serif;
$font_Frutiger_Bold: "FrutigerNeueLTPro-Bold", sans-serif;
$light_bg: #f5f5f5;
$black: #000;
$light_black: #333;
$white: #fff;
$red: #ff2e4b;
$transparent: transparent;
$theme_color: #d99119;
$theme_color_hover: #ba790c;
// $hover_blue:#dd5c00;
$gray_color: #676b79;
$light_gray: #d4d3d3;
$th_bg: #e8e8e9;
$btn_gray: #e4dfda;
$btn_hover_gray: #a1a1a1;
$dark_gray: #5e676e;
$border_hover_color: #cacaca;
$border_header: #efe9e4;
$auth_bg: #f9f5f1;
$active_green: #51bc78;
$active_green_hover: #3aaf65;
$card_border: #e8e8e8;
$card_header_bg: #f0f3f5;
$card_header_border: #d4d4d4;
$breadcrumb_bg: #fbfafa;
$breadcrumb_border: #f2f1f1;
$table_border: #dedede;
$profile_bg: #ddd;
$profile_bg_hover: #bababa;
$user_text: #bbb;
$tab_border: #dbdbdb;
$tab_text: #323232;
$tab_bg_hover: #faf9f9;
$side_hover: #eee;
$font_10: 10px;
$font_11: 11px;
$font_12: 12px;
$font_13: 13px;
$font_14: 14px;
$font_15: 15px;
$font_16: 16px;
$font_17: 17px;
$font_18: 18px;
$font_20: 20px;
$region_label_bg: #e1e1e1;
$common_tab_bg: #f9f9f9;
$common_tab_border: #ddd;
$common_tab_hoverbg: #cccccc;
$common_inner_tab_bg: #e5e5e5;
$common_inner_tab_border: #c8ccce;
$faq_icon_color: #636363;
$faq_bg: #9e9e9e;
$footer_nav_text: #7e7d7d;
$toaster_success: #39d7b3;
$toaster_warning: #efab12;
$toaster_error: #e5453a;
$no_search_text_color: #989898;
$swal_text: #757575;
$swal_confirm_btn: #d4d4d4;
$swal_confirm_btn_hover: #cbccce;
$swal_cancel_btn: #dd3333;
$swal_cancel_btn_hover: #c72e2e;
$approve_bg: #e7e5f4;
$newtag: #3db39e;
$matching_color: #ffff00;
$requirement_color: #ff00ff;
$availability_color: #d7ffe5;
$contract_color: #ffd7b0;
$confirmation_color: #ffa7a7;
$invoice_color: #97beff;
$selecting_color: #6a5acd;
$selected_color: #6a5acd;
$available_color: #86ffb0;
