@import "../../../assets/scss/variables";
.documenttemplate-page {
  min-height: calc(100vh - 135px);
}
.document-list {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 153px);
}

.document-preview {
  color: $btn_hover_gray;
  line-height: 3;
  font-size: $font_17;
  .preview-section {
    img {
      max-height: 100%;
    }
  }
  .nodocument-section {
    color: $faq_bg;
    font-size: $font_16;
    line-height: normal;
    .doc-icon {
      img {
        width: 65px;
        height: 65px;
      }
    }
  }
}
.working-height {
  height: calc(100vh - 160px);
  background-color: $white;
  border: 1px solid $table_border;
}
