@import "../../../assets/scss/variables";
.documenttemplate-page {
  min-height: calc(100vh - 135px);
}
.workingproof-list {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 184px);
  @media (max-width: 991px) {
    height: 300px;
  }
}

.document-preview {
  color: $btn_hover_gray;
  font-size: $font_17;
  .preview-section {
    img {
      max-height: 100%;
    }
  }
  .nodocument-section {
    color: $faq_bg;
    font-size: $font_16;
    line-height: normal;
    padding: 25px 25px;
    text-align: center;
    .doc-icon {
      img {
        width: 65px;
        height: 65px;
      }
    }
  }
}
.working-height {
  height: calc(100vh - 160px);
  background-color: $white;
  border: 1px solid $table_border;
  @media (max-width: 991px) {
    height: auto;
    margin-bottom: 12px;
  }
}

.filelist-name {
  margin-bottom: 8px;
  display: flex;
  align-items: flex-start;
  .text-label {
    font-weight: 600;
    font-size: $font_13;
    color: $dark_gray;
    display: inline-block;
    flex: 0 0 50px;
  }
  .text-value {
    font-weight: 600;
    font-size: $font_13;
    color: $black;
    display: inline-block;
    flex: 1;
    word-wrap: break-word;
    word-break: break-word;
    position: relative;
    padding-left: 8px;
  }
}
