@import "../../../assets/scss/variables";
.careinstitution-list {
  background: $white;
  margin-bottom: 8px;
  position: relative;
  max-height: calc(100vh - 125px);
  overflow-y: auto;
  overflow-x: hidden;
  @media only screen and (max-width: 991px) {
    max-height: 500px;
  }
}

.bulk-email-header {
  .bulk-email-label {
    font-size: $font_12;
    font-weight: 400;
    color: $black;
    text-align: left;
    display: block;
    padding: 0px;
    font-family: $font_Frutiger_Bold;
  }
  .select-box {
    width: 300px;
  }
}
.required {
  color: $red;
}
.document-list {
  max-height: 155px;
  overflow-y: auto;
}
