@import "../../../assets/scss/variables";
.all-invoice{
    table{
        th{
            &.all-invoice-number{
            min-width: 60px;
            }
            &.all-invoice-facility{
                min-width: 130px;
            }
            &.all-invoice-cancellation-for{
                min-width: 130px;     
            }
            &.all-invoice-canceled-by{
                min-width: 84px;
            }
            &.all-invoice-rchng{
                min-width: 84px;
            }
            &.all-invoice-date{
                min-width: 84px;
            }
            &.all-invoice-amount{
                min-width: 84px;
            }
            &.all-invoice-posted{
                min-width: 84px;
            }
            &.all-invoice-sent-mail{
                min-width: 90px;
            }
            &.all-invoice-paid{
                min-width: 84px;
            }
            &.all-invoice-remind{
                min-width: 84px;
            }
            &.all-invoice-remind{
                min-width: 84px;
            }
            &.all-invoice-lawyer{
                min-width: 84px;
            }
            &.all-invoice-doubtful{
                min-width: 84px;
            }
            &.all-invoice-uncollectible{
                min-width: 84px;
            }
       
            &.all-invoice-still-open{
                min-width: 84px;
            }
            &.all-invoice-still-open{
                min-width: 84px;
            }
            &.all-invoice-comment{
                min-width: 100px;
            }
        }
    }
}