@import "../../../assets/scss/variables";
.header-nav-colmn-items {
  &:not(:last-child) {
    border-right: 1px solid #ddd;
    padding-right: 0.8rem;
    margin-right: 0.8rem;
  }
  &.profile-section {
    border-right: none;
    padding-right: 0.8rem;
    margin-right: 0.8rem;
  }

  .header-nav-heading {
    font-size: $font_12;
    font-weight: 400;
    color: $black;
    text-align: left;
    display: block;
    padding: 0px;
    font-family: $font_Frutiger_Bold;
    height: 18px;
    display: block;
  }
  .header-nav-item,
  .user-select {
    margin-bottom: 0.25rem !important;
  }
}
.invoice-header{
  .user-select {
    width:150px
  }
}
.total-form-section {
  padding: 8px 0px;
  border: 1px solid #ddd;
  .total-form-block {
    max-width: 700px;
  }
}
.all-invoice {
  .invoices-table {
    min-height: calc(100vh - 352px);
  }
  .createinvoices-table{
    min-height: calc(100vh - 235px);
  }
  table {
    th {
      &.all-invoice-number {
        min-width: 60px;
      }
      &.all-invoice-facility {
        min-width: 130px;
      }
      &.all-invoice-cancellation-for {
        min-width: 130px;
      }
      &.all-invoice-canceled-by {
        min-width: 84px;
      }
      &.all-invoice-rchng {
        min-width: 84px;
      }
      &.all-invoice-date {
        min-width: 84px;
      }
      &.all-invoice-amount {
        min-width: 84px;
      }
      &.all-invoice-posted {
        min-width: 84px;
      }
      &.all-invoice-sent-mail {
        min-width: 90px;
      }
      &.all-invoice-paid {
        min-width: 84px;
      }
      &.all-invoice-remind {
        min-width: 84px;
      }
      &.all-invoice-remind {
        min-width: 84px;
      }
      &.all-invoice-lawyer {
        min-width: 84px;
      }
      &.all-invoice-doubtful {
        min-width: 84px;
      }
      &.all-invoice-uncollectible {
        min-width: 84px;
      }

      &.all-invoice-still-open {
        min-width: 84px;
      }
      &.all-invoice-still-open {
        min-width: 84px;
      }
      &.all-invoice-comment {
        min-width: 100px;
      }
    }
  }
}

.createinvoices-table{
  th,td{
    &.sno-col{
      width:60px;
      min-width:60px;
    }
    &.invoiceid-col{
      width:70px;
      min-width:70px;
    }&.h-col{
      width:50px;
      min-width: 50px;
    }&.text-col{
      width:180px;
      min-width:180px;
    }&.datetime-col{
      width:150px;
      min-width:150px;
    }&.price-col{
      width:100px;
      min-width: 90px;
    }
  }
}

.payslipform-table{
  td,th{
    &.caregiver-col{
      width:200px;
    }
    &.file-col{
      width:150px;
    }
    &.date-col{
      width:70px;
    }
    &.month-col{
      width:100px;
    }
    &.amount-col{
      width:90px;
    }
    &.paymentamount-col{
      width:120px;
    }
    &.gross-col{
      width:80px;
    }
    &.type-col{
      width:180px;
    }
    &.paid-col{
      width:70px;
    }
    &.visible-col{
      width:50px;
    }
    &.comment-col{
      width:200px;
      min-width:150px;
    }
    
  }
}

.healthinsuraceform-table{
  th,td{
    &.sepa-col{
      width:50px;
    }
    &.action-col{
      width:70px;
    }
  }
}