@import "../../../assets/scss/variables";
.common-col {
  height: 100%;
  .form-card {
    @media only screen and (max-width: 991px) {
      margin-top: 12px;
      height: auto;
    }
  }
  .quality-attribute-section {
    .common-list-card {
      &:last-child {
        margin-top: 8px;
      }
      .common-list-wrap {
        margin-bottom: 0px;
        .common-list-body {
          height: 88px;
          max-height: 88px;
          @media only screen and (min-width: 1366px) {
            height: 115px;
            max-height: 115px;
          }
          @media only screen and (min-width: 1600px) {
            height: 160px;
            max-height: 160px;
          }
          @media only screen and (max-width: 991px) {
            height: 200px;
            max-height: 200px;
          }
        }
      }
    }
  }
}
.save-button {
  // position: absolute;
  // top: -34px;
  position: fixed;
  top: 70px;
  right: 8px;
  padding: 4px 30px;
  font-weight: 600;
  font-size: 12px;
  z-index: 10;
  @media only screen and (max-width: 767px) {
    position: fixed;
    top: 76px;
  }
}
.sticky-save-btn {
  position: fixed;
  top: 35px;
  right: 8px;
  z-index: 10;

  @media only screen and (max-width: 991px) {
    top: 70px;
  }
  @media only screen and (max-width: 767px) {
    position: fixed;
    top: 76px;
  }
  .save-button {
    position: relative;
    top: unset;
    right: unset;
  }
}
.common-offer-section {
  .common-offer-row {
    .common-list-wrap {
      .common-list-body {
        height: calc(100vh - 262px);
        &.worked-list {
          height: calc(100vh - 231px);
        }
      }
    }
  }
}
.invoice-table {
  th {
    border: 1px solid $table_border;
  }
  td {
    padding: 0px;
    border-top: 0px;
  }
  .inner-invoice-table {
    margin-bottom: 0px;
    th,
    td {
      padding: 4px;
    }
  }
  .sno-col {
    width: 45px;
    text-align: center;
  }
  .invoice-number-col {
    width: 110px;
  }
  .invoice-date-col {
    width: 110px;
  }
  .caregiver-name-col {
    width: 150px;
  }
  .amount-col {
    width: 110px;
  }
  .due-date-col {
    width: 110px;
  }
  .status-col {
    width: 80px;
  }
  .supported-documents-col {
    width: 200px;
  }
}

.department-list-header {
  .select-box {
    width: 160px;
  }
  .btn-department {
    height: 25px;
    min-width: 185px;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.department-card-height {
  min-height: calc(100vh - 195px);
}
.department-list {
  height: 525px !important;
  overflow-y: auto;
}
.filetypelist {
  height: 200px !important;
  overflow-y: auto;
}
