@import "../../../assets/scss/variables";
.template-lable {
  font-size: $font_12;
  color: $black;
  padding-left: 8px;
  font-weight: bold;
}
.email-template-list {
  max-height: 522px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 8px;
}

.mail-table {
  .size-col {
    width: 60px;
  }
  .file-description {
    padding-right: 30px;
    position: relative;
    .trash-icon {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 15px;
      cursor: pointer;
    }
  }
}
.required-error {
  color: red;
}
