@import '../../../assets/scss/variables';
.template-lable {
  font-size: $font_12;
  color: $black;
  padding-left: 8px;
  font-weight: bold;
}
.email-template-list {
  max-height: calc(100vh - 170px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 8px;
  @media only screen and (max-width: 991px) {
    max-height: 400px;
  }
}
.attach-document-list {
  height: 155px;
  overflow-y: auto;
}
.dropzone-preview {
  height: 100px;
}
.wrapperClassName {
  .editorClassName {
    border: 1px solid $table_border;
    border-top: 0px;
    background: $white;
    min-height: 150px;
    padding: 0px 10px;
    max-height: 150px;
  }
}

.required-error {
  color: $red;
  font-size: $font_11;
  position: absolute;
  bottom: -8px;
}
