// Variable overrides
$font_open_sans: "Open Sans", sans-serif;
$font_Frutiger_Light: "FrutigerNeueLTPro-Light", sans-serif;
$font_Frutiger_Regular: "FrutigerNeueLTPro-Regular", sans-serif;
$font_Frutiger_Medium: "FrutigerNeueLTPro-Medium", sans-serif;
$font_Frutiger_Bold: "FrutigerNeueLTPro-Bold", sans-serif;
$light_bg: #f5f5f5;
$black: #000;
$light_black: #333;
$white: #fff;
$red: #ff2e4b;
$transparent: transparent;
$theme_color: #d99119;
$theme_color_hover: #ba790c;
// $hover_blue:#dd5c00;
$gray_color: #676b79;
$light_gray: #d4d3d3;
$th_bg: #eeeeee;
$btn_gray: #e4dfda;
$btn_hover_gray: #d6d6d6;
$dark_gray: #5e676e;
$border_header: #efe9e4;
$auth_bg: #f9f5f1;
$active_green: #51bc78;
$card_border: #e8e8e8;
$card_header_bg: #f3f3f3;
$card_header_border: #d4d4d4;
$breadcrumb_bg: #fbfafa;
$table_border: #dedede;
$profile_bg: #ddd;
$user_text: #bbb;
$tab_border: #dbdbdb;
$tab_text: #323232;
$tab_bg_hover: #faf9f9;
$side_hover: #eee;
