// Variable overrides
$font_lato: 'Open Sans', sans-serif;
$light_bg:#f5f5f5;
$black : #000;
$light_black : #333;
$white : #fff;
$red:#f70022;
$transparent:transparent;
$theme_color:#ff6c00;
$theme_color_hover:#dd5c00;
$hover_blue:#dd5c00;
$gray_color:#676B79;
$light_gray:#8c8c8c;
$th_bg: #dcdcdc;
$btn_gray:#a5a5a5;
$dark_gray:#5e676e;

  