// Variable overrides
$font_open_sans: "Open Sans", sans-serif;
$light_bg: #f5f5f5;
$black: #000;
$light_black: #333;
$white: #fff;
$red: #f70022;
$transparent: transparent;
$theme_color: #ff6c00;
$theme_color_hover: #dd5c00;
// $hover_blue:#dd5c00;
$gray_color: #676b79;
$light_gray: #d4d3d3;
$th_bg: #eeeeee;
$btn_gray: #e4dfda;
$btn_hover_gray: #d6d6d6;
$dark_gray: #5e676e;
$border_header: #efe9e4;
$auth_bg: #f9f5f1;
$active_green: #51bc78;
$card_border: #e8e8e8;
$card_header_bg: #f3f3f3;
$card_header_border: #d4d4d4;
$table_border: #dedede;
$profile_bg: #ddd;
$user_text: #bbb;
$tab_bg: #868482;
$tab_bg_hover: rgb(3, 113, 197);
