@import "../../scss/variables";
.documenttemplate-page {
  min-height: calc(100vh - 135px);
}

.documentlist-table {
  th {
    border: 1px solid $table_border;
  }
  td {
    padding: 0px;
    border-top: 0px;
  }
  .inner-documentlist-table {
    margin-bottom: 0px;
    th,
    td {
      padding: 4px;
    }
  }

  .date-col {
    width: 75px;
  }
}
